@import 'signs';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: 1.7vh;
  z-index: -5;
  perspective: 0;

  @media (max-aspect-ratio: 1/2) {
    font-size: 3vw;
  }
}