* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root,
body {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden auto;
  font-size: 1.7vmin;
  z-index: -5;
}

sky {
  height: 80vh;
  width: 100%;
  background: linear-gradient(#78A7FF, #AAD0FD);
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -3;
  animation: sky 30s ease-out -30s infinite alternate;
}

grassblock {
  width: 100%;
  display: block;
  position: fixed;
  left: 0;
  animation: ambientLight 30s ease-out -30s infinite alternate;
  z-index: -1;
  height: 3rem;
  background: repeat-x 0/3rem url("textures/grassblock.webp");
  top: 80vh;
}

dirt {
  width: 100%;
  display: block;
  position: fixed;
  left: 0;
  animation: ambientLight 30s ease-out -30s infinite alternate;
  z-index: -1;
  top: 80vh;
  height: 100%;
  background: repeat top left 0/3rem url("textures/dirt.webp");
}

sun {
  position: fixed;
  display: block;
  background: radial-gradient(#FFF, #FFDD6D);
  width: 12rem;
  height: 12rem;
  left: calc(50% - 6rem);
  animation: sun 30s ease-out -30s infinite alternate;
  z-index: -2;
}

@keyframes sun {
  0% {
    top: 80vh;
    box-shadow: 0 0 0 0 #0000;
  }
  25% {
    top: 80vh;
    filter: brightness(0.7);
    box-shadow: 0 0 40vw 20vw #ffae6c88;
  }
  100%, 75% {
    top: 2rem;
    filter: brightness(2);
    box-shadow: 0 0 40vw 20vw #FFDD6D88;
  }
}
@keyframes ambientLight {
  0% {
    filter: brightness(0.3);
  }
  25% {
    filter: brightness(0.5);
  }
  100%, 75% {
    filter: brightness(1);
  }
}
@keyframes sky {
  0% {
    filter: sepia(0) brightness(0.3);
  }
  25% {
    filter: sepia(0.75) brightness(0.5);
  }
  100%, 75% {
    filter: sepia(0) brightness(1);
  }
}
